@mixin corpBackground {
  background-image: linear-gradient(to bottom, #005693, #288cd2);
  background-repeat: no-repeat;
  height: 100%;
};
@mixin flexBox {
  display: flex;
  flex: {
    direction: row;
    wrap: wrap;
  }
  align-items: center;
}
@import "_bootstrap";
@import "_bootstrap-theme";
@import "_header";
@import "_navbar";
@import "_mixins";

.titlebox {
  @include flexBox;
}

#clients {
  @include carousel3;
  }
