@import "core";
body{
  @include corpBackground;
}
.titlebox {
  @include flexBox;
};
#clients, #feedback {
  @include carousel3};
#firstImpression, #clients, #feedback {
  .carousel {@include corpBackground;}
  .carousel img{padding:0 20px;}
  .carousel h1 {color: #fff;}
  .carousel h2 small{color: #289bde}
  .carousel p {text-align: center; color: #fff};};
.featurette{
  @include corpBackground;
};
p,li,h2,h1 {
color: #fff
}
